@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

$light-grey: hsl(0, 0%, 95%);

@mixin card($card-color) {
  background-color: $card-color;
  p {
    color: hsla(0, 0%, 100%, 0.75);
  }

  .more {
    color: $card-color;
  }

  .more:hover {
    background-color: $card-color;
    color: $light-grey;
    border: 2px solid $light-grey;
  }
}
